@import url("https://fonts.googleapis.com/css?family=Bitter:400,400i,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 125%;
  font-family: Bitter; }

::selection {
  background: #d21e84;
  /* WebKit/Blink Browsers */
  color: white; }

::-moz-selection {
  background: #d21e84;
  /* Gecko Browsers */
  color: white; }

a {
  text-decoration: none;
  color: #000; }

.text-center {
  text-align: center; }

.card {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 3px 5px #263238;
  transition: all 0.1s; }
  .card:hover {
    transform: translate(0, -0.2rem);
    box-shadow: 0px 10px 10px #666; }
  .card:active {
    transform: translate(0, 0.1rem);
    box-shadow: 0px 1px 5px #263238; }
  .card-thumbnail {
    background-size: cover;
    background-position: center;
    height: 13rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .card-thumbnail:active {
      opacity: 0.5; }
  .card-title {
    color: #d21e84;
    padding: 1rem 1rem 0 1rem; }
  .card-meta {
    font-size: 0.8rem;
    color: #88014d;
    font-weight: 700;
    padding: 0 1rem 1rem 1rem; }
  .card-subtitle {
    font-size: 0.9rem;
    padding: 1rem; }
  .card-summary {
    padding: 0 1rem 1rem 1rem; }

.splash {
  background-color: #d21e84;
  position: relative;
  height: 80vh;
  margin-bottom: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .splash {
      height: 70vh;
      margin-bottom: 0rem; } }
  .splash .logline {
    color: white;
    position: absolute;
    left: 10%;
    top: 25%;
    font-size: 2.5rem;
    font-weight: 400;
    z-index: 3; }
    @media only screen and (max-width: 37.5em) {
      .splash .logline {
        font-size: 2rem;
        left: 0;
        margin: 1rem; } }
  .splash .profile {
    height: 95vh;
    position: absolute;
    top: -3rem;
    right: 0rem;
    z-index: 2; }
    @media only screen and (max-width: 37.5em) {
      .splash .profile {
        mix-blend-mode: multiply;
        bottom: 0;
        top: auto;
        height: 100%;
        width: 100%; } }
  .splash-mini {
    height: 30vh;
    margin-bottom: -2rem; }
    .splash-mini .title {
      display: block;
      max-width: 900px;
      margin: 0 auto;
      padding-top: 15vh;
      font-size: 4rem;
      color: white; }

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem; }
  .main-content section {
    margin-bottom: 5rem; }

.main-list {
  margin-top: 2rem; }

.post {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem; }
  .post-header h2 {
    margin-top: 1rem;
    padding: 0 2rem;
    font-size: 1.2rem;
    font-style: italic; }
  .post-meta {
    font-size: 0.8rem; }
    .post-meta a {
      text-decoration: underline; }
      .post-meta a:hover {
        text-decoration: none;
        color: #d21e84; }
  .post-img {
    display: block;
    margin: 2rem auto;
    max-width: 100%; }
  .post-content {
    line-height: 1.5rem; }
    .post-content p {
      margin: 1.5rem 0; }
    .post-content blockquote {
      margin: 1rem;
      padding: 0.1rem 1rem;
      font-style: italic;
      border-left: 5px solid #ddd; }
    .post-content figure > img {
      max-width: 100%;
      display: block;
      margin: 0 auto; }
    .post-content figure > figcaption {
      padding: 0.5rem;
      text-align: center;
      font-style: italic; }
    .post-content .rwd-video {
      margin: 1rem 0;
      height: 0;
      overflow: hidden;
      padding-bottom: 56.25%;
      padding-top: 30px;
      position: relative; }
      .post-content .rwd-video iframe,
      .post-content .rwd-video object,
      .post-content .rwd-video embed {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%; }
    .post-content table {
      margin: 1rem 0;
      border-spacing: 0; }
      .post-content table th {
        background-color: #d21e84;
        color: #fff; }
      .post-content table th, .post-content table td {
        border: 1px #ed4aa7 solid;
        border-collapse: collapse;
        padding: 0.5rem; }
    .post-content a {
      color: #d21e84;
      text-decoration: underline; }
      .post-content a:hover {
        color: #fff;
        background-color: #d21e84; }
    .post-content ul, .post-content ol {
      margin: 1rem 0;
      list-style-position: inside; }
    .post-content code {
      font-size: 1.25rem;
      background-color: #ddd; }
    .post-content pre {
      background-color: #ddd;
      padding: 1rem 2rem;
      border-radius: 0.5rem; }
      .post-content pre code {
        background: none;
        display: block; }

.header {
  display: flex;
  padding: 1rem;
  grid-row: 1;
  background-color: #d21e84;
  z-index: 1; }
  .header > span > a {
    color: #fff; }
  .header-label {
    margin-right: 1rem;
    color: #fff;
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .header-label {
        display: inherit; } }
  .header-checkbox:checked ~ .header-label {
    color: blue; }
  @media only screen and (max-width: 37.5em) {
    .header {
      font-size: 0.9rem; } }

.checkbox {
  display: none; }

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: 3rem auto;
  height: 100vh; }
  .wrapper > * {
    grid-column: col-start / span 12; }

.content {
  grid-row: 2; }
  @media only screen and (max-width: 37.5em) {
    .content {
      grid-column: col-start / span 12; } }

.footer {
  height: 10rem;
  border-top: 1px solid #d21e84; }

.postgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .postgrid {
      grid-template-columns: repeat(1, 1fr); } }

.quote p {
  font-size: 1.4rem; }
  .quote p a {
    font-size: 1rem; }
